@using DataAccessLayer.Util;
@using BL = BusinessLayer.Util;
@using DataAccessLayer.Util.Security;
@using System.Configuration;
@{

    string Controllers = ConfigurationManager.AppSettings["IniUrl"];

}

<div class="header navbar">
    <div class="header-container">
        @if (UtilClass.GetUsuarioSesion() != null)
        {
            if (UtilClass.GetUsuarioSesion().Permisos != null)
            {
                if (BL.UtilClass.IsAuthenticated())
                {
                    <ul class="nav-left">
                        <li>
                            <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                                <i class="fas fa-bars"></i>
                            </a>
                        </li>
                        <li>
                            <h5 class="lh-1 mB-0 logo-text" style="font-weight: 500 !important; color:white !important"><strong>SISERA</strong></h5>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="notifications dropdown">
                                @Html.Partial("~/Views/Shared/_Alertas.cshtml")
                        </li>

                        @Html.Partial("_LogOnPartialView")
                    </ul>
                }
            }
        }

    </div>
</div>
