@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <h2 style="margin-bottom: -5px;" class="text-Bienvenida">Bienvenido al Sistema</h2>
                    <h2 style="margin-bottom: 5px;" class="text-Bienvenida">Proyecto Base n capas</h2>
                </div>
            </div>
            <div style="display: flex; justify-content: center; ">
                <img src="~/Content/Image/Logo/Go.png" alt="" width="35%" height="35%" style="position: center;">
            </div>
        </div>
    </div>
</div>

